
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 17% 20%;
    --foreground: 210 40% 98%;

    --card: 240 17% 20%;
    --card-foreground: 210 40% 98%;

    --popover: 240 17% 20%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 240 17% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 17% 25%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 240 17% 25%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 17% 25%;
    --input: 240 17% 25%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 17% 20%;
    --foreground: 210 40% 98%;

    --card: 240 17% 20%;
    --card-foreground: 210 40% 98%;

    --popover: 240 17% 20%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 240 17% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 17% 25%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 240 17% 25%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 17% 25%;
    --input: 240 17% 25%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
